@use 'variaveis';

.characters {
    padding: 5.6vw;
    background-color: variaveis.$corDeFundo;
    color: variaveis.$corTitleProminence;

    @media (max-width: 768px) {
        padding: 12vw 5.6vw;
    }

    h2 {
        text-align: center;
        padding-bottom: 60px;
    }

    &__content {        
        text-align: center;
        display: flex; 
        justify-content: space-between;
        
        @media (max-width: 768px) {
            flex-direction: column;
        }
        
        &__character {            
            max-width: 350px;
            width: 100%; 
            
            @media (max-width: 768px) {
                margin-bottom: 60px;
            }
                        
            
            img {
                border-radius: 3px;                
            }

            h4 {
                padding: 8px;
            }

            p {
                color: variaveis.$corPrimary;                
            }
        }
    }
}