@use 'variaveis';

.header {
    padding: 0 5.6vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background-color: variaveis.$corPrimary;
    
    
    @media (max-width: 768px) {
        display: block;
        position: fixed;
        width: 100%;
        
        .content_menu-hamburguer {
            display: flex;
            justify-content: space-between;
        }
    }

    .container {
        display: none;
        

        @media (max-width: 768px) {
            display: block;            
            
            .menu-hamburguer {
                max-width: 50px;
                width: 100%;
                padding-top: 8px;
            }
        }
    }
    

    h1 {
        margin: 0;
    }

    &__logo {
        max-width: 160px;
        width: 100%;

        @media (max-width: 768px) {
            max-width: 100px;
            padding-top: 8px;
        }
    }  
    
    &__list {
        list-style: none;
        
        @media (max-width: 768px) {
            display: none;          
            
        }
        
        &__item {
            display: inline-block;
            padding-top: 40px;
            padding-left: 20px;
            

            @media (max-width: 768px) {
                display: inline-block;
                padding: 8px;
                
            }

            .item__link {
                text-decoration: none;
                color: variaveis.$corDeFundo;
                font-weight: bold;
                text-transform: uppercase;

                &:hover {
                    border-bottom: 3px solid variaveis.$corDeFundo;
                }
            }
        }
    }
}